footer{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #000308 50%, #030000 100%);
    color: aliceblue;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}
 .redes a:hover{
    background-color: #00d4ff;
}
footer .redes a{
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid aliceblue;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .2s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #00d4ff;
    color: aliceblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
}