.skills {
    background-color: rgba(30,35,38,1);
    color: aliceblue;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1110px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Times New Roman';
    text-align: center;
    padding: 20px 0;
}
.skills .fila{
    display: flex;
}

.skills .fila .col{
   width: 50%;
   padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color:aliceblue;
    position: relative;
    margin-bottom: 32px;
}

.skills .skill .progreso{
    background-color:#00d4ff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:#00d4ff ;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -18px;
    right: -16px;
    font-size: 15px;
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 69%;}
}

.skills .skill .figma{
    width: 0%;
    animation: 2s figma forwards;
}
@keyframes figma{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .canva{
    width: 0%;
    animation: 2s canva forwards;
}
@keyframes canva{
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .web-design{
    width: 0%;
    animation: 2s web-design forwards;
}
@keyframes web-design{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 80%;}
}


.skills .skill .equipo{
    width: 0%;
    animation: 2s equipo forwards;
}
@keyframes equipo{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .responsable{
    width: 0%;
    animation: 2s responsable forwards;
}
@keyframes responsable{
    0%{width: 0%;}
    100%{width: 84%;}
}








